.reg-button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-tint);
    color: var(--primary-font-dark);
    font-size: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}