.main-header-landing {
  font-size: 60px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  font-family: var(--font-fam1);
  font-weight: 600;
  width: max-content;
}
