.meme-card {
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-height: 400px;
  background-color: brown;
  position: relative;
}

.emoji-bar {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50px;
  gap: 10px;
  line-height: 0;
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 60%;
}

.single-emoji-count {
  display: flex;
}

.img-meme-card {
  height: 350px;
  width: 100%;
}

.emoji-img-meme-card {
  height: 30px;
}
