.meme-card {
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-height: 400px;
  background-color: var(--primary-shade);
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}

.emoji-bar {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50px;
  gap: 10px;
  line-height: 0;
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 60%;
}

.meme-author-bar {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.single-emoji-count {
  display: flex;
  gap: 4px;
}

.img-meme-card {
  height: 350px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.emoji-img-meme-card {
  height: 30px;
}
